<?xml version="1.0"?>
<ruleset name="Shared Counts">
	<description>The code standard for Shared Counts.</description>
	<arg name="extensions" value="php"/>
	<rule ref="WordPress">
		<!-- Allow less strict indenting and spacing -->
		<exclude name="Generic.WhiteSpace.ScopeIndent.Incorrect"/>
		<exclude name="Generic.WhiteSpace.ScopeIndent.IncorrectExact"/>
		<exclude name="Generic.Functions.FunctionCallArgumentSpacing"/>
		<!-- Don't make comment formatting quite as strict -->
		<exclude name="Squiz.Commenting.InlineComment.SpacingAfter"/>
		<exclude name="Squiz.Commenting.FileComment.Missing"/>
		<exclude name="Squiz.Commenting.FunctionComment.SpacingAfterParamType"/>
		<exclude name="Squiz.Commenting.FunctionComment.MissingParamComment"/>
		<!-- WordPress VIP rules, nope  -->
		<exclude name="WordPress.VIP"/>
	</rule>
</ruleset>
