

/* Base
----------------------------------------------------------------------------- */

$colorFacebook: #3b5998;
$colorFacebookHover: #2d4373;
$colorTwitter: #00aced;
$colorTwitterHover: #0087ba;
$colorPinterest: #cb2027;
$colorPinterestHover: #9f191f;
$colorStumbleupon: #eb4924;
$colorStumbleuponHover: #b83719;
$colorLinkedin: #0077b5;
$colorLinkedinHover: #005582;
$colorTotal: #999;
$colorTotalHover: #666;
$colorEmail: #aaa;
$colorEmailHover: #666;

.shared-counts-wrap {
	margin: 0 0 20px 0;

	.shared-counts-button {
		margin-right: 10px;
	}
}