/* Base Colors
----------------------------------------------------------------------------- */

$white: #fff;
$facebook: #3B5998;
$twitter: #00B6F1;
$pinterest: #CB2027;
$stumbleupon: #eb4924;
$linkedin: #007BB6;
$google: #dd4b39;
$email: #424345;
$print: $email;
$total: #999;

@import "helpers";
