/* Email Modal
----------------------------------------------------------------------------- */

#shared-counts-modal-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	background: rgba(255,255,255,0.90);
	z-index: 999;
	overflow: hidden;
}

.shared-counts-modal {
	box-shadow: -1px 4px 6px rgba(0,0,0,0.09);
	border: 1px solid #ccc;
	background-color: #fff;
	width: 345px;
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -160px;
	margin-top: -160px;
}

.shared-counts-modal-title {
	display: block;
	text-align: center;
	margin: 0 0 10px 0;
	font-size: 20px;
}

.shared-counts-modal p {
	margin: 0 0 10px 0;
}

.shared-counts-modal label {
	display: block;
	font-size: 14px;
	color: #333;
	margin: 0 0 2px 0;
}

.shared-counts-modal input[type=text],
.shared-counts-modal input[type=email] {
	display: block;
	margin: 0;
	width: 100%;
	border: 1px #e2e2e2 solid;
	border-radius: 0;
	background-color: #fff;
	border-radius: 0;
	color: #333;
	font-size: 16px;
	padding: 6px 10px;
	box-shadow: none;
}

p.shared-counts-modal-submit {
	text-align: center;
	margin: 14px 0 0;
}

#shared-counts-modal-submit{
	background: $white;
	border: none;
	color: $email;
	font-weight: 400;
	font-size: 16px;
	padding: 10px 20px;

	svg {
		width: 16px;
		height: 16px;
		fill: $total;
	}
}

#shared-counts-modal-submit:hover {
	background: $facebook;
	color: $white;

	svg {
		fill: $white;
	}
}

#shared-counts-modal-submit:disabled {
	opacity: 0.5;
}

#shared-counts-modal-close .close-icon {
	display: block;
	position: absolute;
	top: -8px;
	right: -8px;
	line-height: 22px;
	box-shadow: 0 0 0 1px #fff,0 0 0 2px #d8d8d8,-1px 1px 2px 3px rgba(0,0,0,0.15);
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background-clip: padding-box;
	background-color: #999;
	transition: background-color 0.2s ease-in;
	text-align: center;
	z-index: 999;
	font-weight: 400;

	svg {
		fill: $white;
		width: 14px;
		height: 14px;
	}
}

#shared-counts-modal-close:hover {
	text-decoration: none;
	background-color: #000;
}

#shared-counts-modal-sent {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	background: rgba(255,255,255,0.94);
	text-align: center;
	font-size: 32px;
	font-weight: 700;
	padding-top: 40%;
	color: green;
	display: none;
}

.shared-counts-modal-validation {
	display: none;
}

#shared-counts-modal-recaptcha {
	margin: 20px 0 0 0;
}
