/* General
----------------------------------------------------------------------------- */

.shared-counts-wrap {
	margin: 0 0 20px 0;
	overflow: hidden;
	width: 100%;

	.shared-counts-label {
		letter-spacing: normal;
	}
}
