/* General
----------------------------------------------------------------------------- */

.shared-counts-wrap {
	margin: 0 0 20px 0;

	.shared-counts-button {
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}
}
