/* Buttons Style
----------------------------------------------------------------------------- */

.shared-counts-wrap.style-buttons {
	@extend .shared-counts-wrap.style-block;

	.shared-counts-button {
		margin-right: 12px;

		&:last-child {
			margin-right: 0;
		}
	}

	a.shared-counts-button {
		border-radius: 16px;
		width: 64px;
	}

}
