/* Rounded Style
----------------------------------------------------------------------------- */

.shared-counts-wrap.style-rounded {
	@extend .shared-counts-wrap.style-block;

	a.shared-counts-button {
		width: 64px;

		&:first-of-type {
			border-radius: 100px 0 0 100px;
		}

		&:last-of-type {
			border-radius: 0 100px 100px 0;
		}

	}

}
