/* Fancy Style
----------------------------------------------------------------------------- */

.shared-counts-button {

	&.style-fancy {
		display: inline-block;
		color: #fff;
		border-radius: 2px;
		margin: 0 10px 10px 0;
		height: 22px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		line-height: 22px;
		text-decoration: none;
		font-weight: normal;
		background-color: #aaa;
		transition: all 0.3s ease-in-out;

		@include brand-colors-bg();

		svg {
			fill: $white;
			width: 12px;
			height: 12px;
		}

		.shared-counts-icon {
			padding: 0 6px;
		}

		.shared-counts-label {
			display: inline-block;
			vertical-align: top;
			height: 22px;
			line-height: 22px;
			font-size: 12px;
			font-weight: 700;
			padding-right: 10px;
		}

		.shared-counts-count {
			display: inline-block;
			vertical-align: top;
			height: 22px;
			line-height: 20px;
			font-size: 12px;
			position: relative;
			background-color: #fff;
			padding: 0 8px;
			margin-right: -2px;
			color: #555;
			border-radius: 0 2px 2px 0;
			border: 1px solid #aaa;

			&:after,
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				margin-top: -6px;
				width: 0;
				height: 0;
				border-top: 6px solid transparent;
				border-bottom: 6px solid transparent;
				border-right: 6px solid;
			}

			&:after {
				left: -5px;
				border-right-color: white;
			}

			&:before {
				left: -6px;
				border-right-color: white;
			}
		}
	}
}
