/* GSS (slim) Style
----------------------------------------------------------------------------- */

.shared-counts-button {

	&.style-gss {
		display: inline-block;
		color: #fff;
		border-radius: 2px;
		margin: 0 10px 10px 0;
		font-size: 13px;
		height: 25px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		line-height: 25px;
		text-decoration: none;
		font-weight: normal;
		position: relative;
		background-color: #ccc;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;

		&:hover {
			text-decoration: none;

			.shared-counts-label {
				width: 100px;
				opacity: 1;
			}
		}

		i {
			display: inline-block;
			height: 25px;
			line-height: 25px;
			font-size: 14px;
			margin: 0 8px 0 8px;
			width:1.28571429em;
			text-align:center;
			vertical-align: top;
		}

		.shared-counts-count {
			box-sizing: border-box;
		}

		.shared-counts-label {
			display: inline-block;
			vertical-align: top;
			height: 25px;
			line-height: 25px;
			font-size: 13px;
			font-weight: 700;
			padding-right: 0;
			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-ms-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
			width: 1px;
			overflow: hidden;
			opacity: 0;
		}

		.shared-counts-count {
			display: inline-block;
			vertical-align: top;
			height: 25px;
			line-height: 23px;
			font-size: 13px;
			position: relative;
			background-color: #fff;
			padding: 0 8px;
			margin-right: -2px;
			color: #555;
			border-radius: 0 2px 2px 0;
			border: 1px solid #ececec;
			font-weight: 700;
			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-ms-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
		}

		/* Facebook */
		&.facebook,
		&.facebook_likes,
		&.facebook_shares,
		&.facebook_comments {
			background-color: $colorFacebook;

			&:hover {
				.shared-counts-count {
					background-color: $colorFacebook;
					color: #fff;
				}

				.shared-counts-label {
					width: 68px;
				}
			}

			.shared-counts-count {
				border-color: $colorFacebook;
				color: $colorFacebook;
			}
		}

		/* Twitter */
		&.twitter {
			background-color: $colorTwitter;

			&:hover {
				.shared-counts-count {
					background-color: $colorTwitter;
					color: #fff;
				}

				.shared-counts-label {
					width: 46px;
				}
			}

			.shared-counts-count {
				border-color: $colorTwitter;
				color: $colorTwitter;
			}
		}

		/* Pinterest */
		&.pinterest {
			background-color: $colorPinterest;

			&:hover {
				.shared-counts-count {
					background-color: $colorPinterest;
					color: #fff;
				}

				.shared-counts-label {
					width: 28px;
				}
			}

			.shared-counts-count {
				border-color: $colorPinterest;
				color: $colorPinterest;
			}
		}

		/* StumbleUpon */
		&.stumbleupon {
			background-color: $colorStumbleupon;

			&:hover {
				.shared-counts-count {
					background-color: $colorStumbleupon;
					color: #fff;
				}

				.shared-counts-label {
					width: 90px;
				}
			}

			.shared-counts-count {
				border-color: $colorStumbleupon;
				color: $colorStumbleupon;
			}
		}

		/* LinkedIn */
		&.linkedin {
			background-color: $colorLinkedin;

			&:hover {
				.shared-counts-count {
					background-color: $colorLinkedin;
					color: #fff;
				}

				.shared-counts-label {
					width: 60px;
					color: #fff;
				}
			}

			.shared-counts-count {
				border-color: $colorLinkedin;
				color: $colorLinkedin;
			}
		}

		/* Total Counts */
		&.included_total {
			background-color: $colorTotal;

			&:hover {
				.shared-counts-count {
					background-color: $colorTotal;
					color: #fff;
				}

				.shared-counts-label {
					width: 36px;
					color: #fff;
				}
			}

			.shared-counts-count {
				border-color: $colorTotal;
				color: $colorTotal;
			}
		}

		/* Email */
		&.email {
			background-color: $colorEmail;

			&:hover {
				.shared-counts-count {
					background-color: $colorEmail;
					color: #fff;
				}

				.shared-counts-label {
					width: 36px;
					color: #fff;
				}
			}

			.shared-counts-count {
				border-color: $colorEmail;
				color: $colorEmail;
			}
		}

		/* Print */
		&.print {
			&:hover {
				.shared-counts-label {
					width: 40px;
				}
			}
		}
	}
}