/* Fancy Style
----------------------------------------------------------------------------- */

.shared-counts-button {

	&.style-fancy {
		display: inline-block;
		color: #fff;
		border-radius: 2px;
		margin: 0 10px 10px 0;
		height: 22px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		line-height: 22px;
		text-decoration: none;
		font-weight: normal;
		background-color: #aaa;

		i {
			display: inline-block;
			vertical-align: top;
			height: 22px;
			line-height: 22px;
			font-size: 12px;
			padding: 0 6px 0 10px;
		}

		.shared-counts-label {
			display: inline-block;
			vertical-align: top;
			height: 22px;
			line-height: 22px;
			font-size: 12px;
			font-weight: 700;
			padding-right: 10px;
		}

		.shared-counts-count {
			display: inline-block;
			vertical-align: top;
			height: 22px;
			line-height: 20px;
			font-size: 12px;
			position: relative;
			background-color: #fff;
			padding: 0 8px;
			margin-right: -2px;
			color: #555;
			border-radius: 0 2px 2px 0;
			border: 1px solid #aaa;

			&:after,
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				margin-top: -6px;
				width: 0;
				height: 0;
				border-top: 6px solid transparent;
				border-bottom: 6px solid transparent;
				border-right: 6px solid;
			}

			&:after {
				left: -5px;
				border-right-color: white;
			}

			&:before {
				left: -6px;
				border-right-color: white;
			}
		}

		/* Facebook */
		&.facebook,
		&.facebook_likes,
		&.facebook_shares,
		&.facebook_comments {
			background-color: $colorFacebook;

			&:hover {
				background-color: $colorFacebookHover;
			}

			.shared-counts-count {
				border-color: $colorFacebookHover;
			}
		}

		/* Twitter */
		&.twitter {
			background-color: $colorTwitter;

			&:hover {
				background-color: $colorTwitterHover;
			}

			.shared-counts-count {
				border-color: $colorTwitterHover;
			}
		}

		/* Pinterest */
		&.pinterest {
			background-color: $colorPinterest;

			&:hover {
				background-color: $colorPinterestHover;
			}

			.shared-counts-count {
				border-color: $colorPinterestHover;
			}
		}

		/* StumbleUpon */
		&.stumbleupon {
			background-color: $colorStumbleupon;

			&:hover {
				background-color: $colorStumbleuponHover;
			}

			.shared-counts-count {
				border-color: $colorStumbleuponHover;
			}
		}

		/* LinkedIn */
		&.linkedin {
			background-color: $colorLinkedin;

			&:hover {
				background-color: $colorLinkedinHover;
			}

			.shared-counts-count {
				border-color: $colorLinkedinHover;
			}
		}

		/* Total Count */
		&.included_total {
			background-color: $colorTotal;

			&:hover {
				background-color: $colorTotalHover;
			}

			.shared-counts-count {
				border-color: $colorTotalHover;
			}
		}

		/* Email*/
		&.email {
			background-color: $colorEmail;

			&:hover {
				background-color: $colorEmailHover;
			}

			.shared-counts-count {
				border-color: $colorEmailHover;
			}
		}
	}
}